<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>头部</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css.css"/>

</head>
<body style="background: #428BCA;">

 <!--<h2 style="text-align: center;">美好生活管理系统</h2>-->

 <nav class="navbar  navbj">
     <div class="container-fluid">
         <div class="navbar-header" style="margin-top: -5px;">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <!--<h5 class="navbar-brand login-nav" ><a href="/admin/index"><img class="menu-icon" src="../../static/image/logo.png" width="24">美好生活后台管理系统</a></h5>-->
             <h5 class="navbar-brand login-nav" ><a href="#" style=" text-decoration: none; color: white;"><img class="menu-icon" src="../../static/image/logo.png" width="24">美好生活后台管理系统</a></h5>
         </div>
         <div id="navbar" class="navbar-collapse collapse" style="margin-top: 15px;">
             <ul class="nav navbar-nav navbar-right">
                 <li class="sys-a"><img src="../../static/image/tx2.jpg" style="width: 30px; height: 30px; border-radius: 50%;"><span style="color: #00E7D4; font-size: 10px; margin-left:10px;" th:text="${userName}"></span></a></li>
                 <li><a href="/admin/loginOut" target="_top"  style="color: white; background-color: #428BCA; margin-top: -12px; text-decoration: none;">退出</a></li>
             </ul>
         </div>
     </div>
 </nav>

</body>
</html>