<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>功能中心</title>
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!--<script src="${ctxPath}/static/js/jquery.min.js"></script>-->
    <!--<script src="${ctxPath}/static/js/popper.min.js"></script>-->
    <!--<script src="${ctxPath}/static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/angular.min.js"></script>-->
    <!--<script src="../static/js/saveUtile.js"></script>-->
</head>

<frameset rows="9%,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="/admin/header" name="topFrame" scrolling="no" noresize="noresize" id="topFrame" title="topFrame" />
    <frameset cols="20%,*" frameborder="no" border="0" framespacing="0">
        <frame src="/admin/left" name="leftFrame" scrolling="no" noresize="noresize" id="leftFrame" title="leftFrame" />
        <frame src="/admin/right" name="rightFrame" id="rightFrame" title="rightFrame" />
    </frameset>
</frameset>

</html>