<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>右边</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../static/css/css.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>

<h1 class="">首页</h1>
<hr>
<p style="text-align: center; margin-top: 10%;">
 <img src="../../static/image/mh.png" width="200">
</p>

</body>
</html>